body {
    margin: 0px;
    padding: 50px 0px 0px;
    background-color: #292929;
}

#topBar {
    position: fixed;
    height: 30px;
    width: 100%;
    top: 0;
    background-color: #222;
    display: flex;
}

.topBar-cont {
    margin: 5px;
    height: 20px;
    display: flex;
}

.topBar-elem {
    height: 100%;
}

.topBar-margin {
    margin-right: 3px;
}

#loginInfo {
    position: absolute;
    right: 0px;
}

.plexButton {
    border: 0px none;
    border-radius: 10px;
    margin-left: 4px;
    background-color: #ff8a00;
    color: #fff;
    font-weight: 600;
}

#plexDisconnect {
    background: #666;
}

#searchDiv {
    border: none;
    border-radius: 10px;
    background-color: #444;
    padding: 0px 5px;
}

#searchInput {
    color: #888;
    background-color: #444;
    border: none;
}

label.dropdown select {
    padding-right: 24px;
    background: #333;
    color: #ff8100;
    border: 0px;
    border-radius: 0;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
}

label.dropdown select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #ff8a00;
}

label.dropdown select::-ms-expand {
    display: none;
}

label.dropdown:before {
    content: '';
    right: 3px;
    top: 1px;
    width: 20px;
    height: 15px;
    background: #333;
    position: absolute;
    pointer-events: none;
    display: block;
    border-left: 2px solid #aaa;
}

label.dropdown { position: relative; }

label.dropdown:after {
    content: '>';
    font: 16px Consolas, monospace;
    color: #ff8100;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 5px;
    top: 3px;
    position: absolute;
    pointer-events: none;
    width: 15px;
    padding: 0 0 5px 0;
}

@media screen\0 {
    label.dropdown:after {
        width: 18px;
        right: 0;
    }
}

@media screen and (min--moz-device-pixel-ratio:0) {
    label.dropdown select { padding-right: 26px; }
    label.dropdown:before { right: 2px; }
    label.dropdown:after {
        right: 5px;
        top: 3px;
        width: 16px;
    }
}

@font-face {
    font-family: 'bob';
    src: url('../fonts/bob.eot');
    src: url('../fonts/bob.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bob.woff') format('woff'),
    url('../fonts/bob.ttf') format('truetype'),
    url('../fonts/bob.svg#bob') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
    display: inline-block;
    font-family: 'bob';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-magnifier:before{content:'\0041';}
.icon-down-arrow:before{content:'\0042';}
